<p>Dear Student,<br>
Thank you for your contribution!</p>
<p>
    To confirm project "{{ title }}" submission
    <a href="https://projects.dharc.unibo.it/dhdkey/confirmation/{{token}}">
        click here
    </a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>https://projects.dharc.unibo.it/dhdkey/confirmation/{{token}}</p>
<p>If you have not submitted any project simply ignore this message.</p>
<p>Sincerely,
    <br>
    <br>
The DHDKey! Team</p>
    <br>
    <br>
<p>** THIS IS AN AUTOMATED MESSAGE - PLEASE DO NOT REPLY DIRECTLY TO THIS EMAIL **</p>
<p>More Info at <a href="https://projects.dharc.unibo.it/dhdkey/">https://projects.dharc.unibo.it/dhdkey/</a></p>