{% extends "base.html" %}

{% block content %}
    <div class="container" style="margin-top: 35px">
        <div>
            <h2 class="mb-5">Privacy Policy & Terms of Service</h2>
            <p>This document contains types of information that is collected and recorded by DHDKey! and how we use it.</p>
            <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at <a  target="_blank" href="mailto:dharc@live.unibo.it"><i class="far fa-envelope fa-sm"></i> dharc@live.unibo.it</a></p>
            <p>This privacy policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in DHDKey!. This policy is not applicable to any information collected offline or via channels other than this website.</p>
            <p><strong>Consent</strong></p>
            <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
            <p><strong>Information we collect</strong></p>
            <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
            <p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
            <p>When you upload a new project, we may ask for your contact information, including items such as first name, last name and email address.</p>
            <p><strong>Cookies</strong></p>
            <p>To prevent spam and abuse we use "Google reCAPTCHA" on our website. This service is provided by Google Inc., 1600 Amphitheater Parkway, Mountain View, CA 94043, USA ("Google").</p>
            <p>To do this, reCAPTCHA analyzes the behavior of the website visitor based on various characteristics:</p>
            <ul>
                <li>Typing patterns of the user</li>
                <li>The amount of mouse clicks a user has done on the site or touches on an app</li>
                <li>What language the user's browser is using</li>
                <li>Google cookies (Third party cookies)</li>
                <li>The answers to question fields on the site</li>
                <li>CSS information</li>
                <li>Plug-ins installed on the browser</li>
            </ul>
            <p>For more information:</p>
                <ul>
                    <li><a target="_blank" href="https://www.google.com/intl/de/policies/privacy/">Google Privacy Policy <i class="fas fa-external-link-alt fa-xs"></i></a></li>
                    <li><a target="_blank" href="https://www.google.com/recaptcha/intro/android.html">Google reCAPTCHA <i class="fas fa-external-link-alt fa-xs"></i></a>.</li>
                </ul>
            <p><strong>Third Parties Personal Data</strong></p>
            <p>When uploading data for a new project you can upload third party personal data such as first name, last name and email. In doing so you take full responsibility for the disclosure of third party personal data. It is your responsibility to ask permission and to notify the third party of the disclosure of their personal data and to inform them of our Privacy Policy & Terms of Service.</p>
            <p><strong>Terms of Use</strong></p>
            <p>All project data, including author data such as first name, last name and email, are published under a <a  target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/deed.en">CC-0 license <i class="fas fa-external-link-alt fa-xs"></i></a>.</p>
            <p><strong>GDPR Privacy Policy (Data Protection Rights)</strong></p>
            <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
            <p>The right to access – You have the right to request copies of your personal data.</p>
            <p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
            <p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
            <p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
            <p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
            <p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
            <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at <a  target="_blank" href="mailto:dharc@live.unibo.it"><i class="far fa-envelope fa-sm"></i> dharc@live.unibo.it</a>.</p>
            </div>

    </div>
{% endblock %}