{% extends "base.html" %}

{% block content %}
<div class="container">

  

    <div id="el" v-cloak >
      <div class="head fixed-top bg-white" style="z-index: 3;">
        <nav class="navbar navbar-expand navbar-light shadow-sm px-sm-5 px-0">
                <a class="navbar-brand" style="font-size: 1.65rem !important; font-weight:200 !important;" href="{{ url_for('index') }}">DHDKey!</a>
                {% if title != "Confirmation" %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse pt-1  px-0" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto ">
                      <li class="nav-item {% if title == 'Home' %}active{% endif %}">
                          <a class="text-nowrap nav-link" href="{{ url_for('index') }}">Home</a>
                      </li>
                      <li class="nav-item {% if title == 'Projects' %}active{% endif %}">
                          <a class="text-nowrap nav-link" href="{{ url_for('projects') }}">Projects</a>
                      </li>
                      <li class="nav-item">
                          <a class="text-nowrap nav-link {% if title == 'Upload' %}active{% endif %}" href="{{ url_for('upload') }}">Upload</a>
                      </li>
                      <li class="nav-item">
                          <a class="text-nowrap nav-link {% if title == 'Info' %}active{% endif %}" href="{{ url_for('info') }}">Info</a>
                      </li>
                  </ul>

                  <div class="my-0 mx-3 col-6 reverse d-none">
                            <input id="search-input" type="text" v-model="query" oninput="processChange()"
                              class="form-control" placeholder="Search">
                  </div>
                  <div class="col-3  d-flex flex-row flex-nowrap gap-1">
                    <a href="#" data-bs-target="#sidebar-left" data-bs-toggle="collapse"  onclick="toggleFiltersSidebar()" class="btn btn-secondary rounded-3 reverse d-none"><i class="fas fa-filter text-light"></i></a>
                    <a href="#" data-bs-target="#sidebar-right" data-bs-toggle="collapse" class="btn btn-warning rounded-3 reverse d-none"><i class="fas fa-chart-pie text-black-50"></i></a>
                    {% if author %}
                    <a href="{{ url_for('projects') }}" class="btn btn-primary rounded-3 reverse d-none"><i class="fas fa-arrow-rotate-left text-light"></i></a>
                    {% endif %}
                   
       
                 </div>

                </div>

                
                {% endif %}

                <div
                                    data-bs-trigger="click"
                                    data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-html="true" 
                                        data-bs-title="
                                        <div class='d-flex flex-column gap-1'>
                                                <div>Need help?</div>
                                                <div><a href='mailto:nikolai.gorbachev@studio.unibo.it' class='text-white'>Report a problem</a></div>
                                        </div>"
                                        data-bs-placement="bottom"
                                        class="text-dark text-decoration-none"><i class="far fa-question-circle bg-white text-secondary icon fa-2x"></i></div>
                
            </nav>
      </div>
      <!-- <div class="shadow-sm py-2 mt-5" style="background-color: rgba(255, 255, 255, 0.9);"> -->
      <div class="mt-4 mb-1">
        <nav class="row my-0 mx-0 navbar navbar-expand navbar-light">

          <div class="col-3 py-0">
            
            
            <!-- <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                {% if author %}
                <li class="breadcrumb-item {% if not author %} active  {% endif %}"><a
                    href="{{ url_for('projects') }}">All Projects</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ name }}</li>
                {% else %}
                <li class="breadcrumb-item active" aria-current="page">All Projects</li>
                {% endif %}
              </ol> -->
              

          
            {% if author %}
            <h4 class="mb-0">
              <a href="mailto:{{ mail }}" style=" text-decoration: none;" class="text-dark">
                {{ name }} 
                <!-- <i class="far fa-envelope text-dark"></i> -->
              </a>
            </h4>
            {% endif %}
            <h5 class="text-secondary mt-0">[[ searchResult.pagination.total ]] Item<span
              v-if="searchResult.pagination.total != 1">s</span> Found</h5>
<!--             
            <h5 class="d-none d-md-block" style="word-break:break-all;"><a
                href="mailto:{{ mail }}" style="word-break:break-all;">{{ mail }}</a></h5>
            <h5 class="d-block d-md-none" style="word-break:break-all;"><a
                href="mailto:{{ mail }}" style="word-break:break-all;">{{ mail }}</a></h5> -->
                

            
            
          </div>

          <div class="col-6 my-0 px-0 row">
            <!-- <div id="navbar" > -->
              <!-- <form class="navbar-form navbar-left">
                <div class="form-group row"> -->
                  
                    <div class="col-12">
                      <input id="search-input" type="text" v-model="query" oninput="processChange()"
                        class="form-control" placeholder="Search">
                    </div>

                      <div class="d-none col-2 d-inline-flex flex-nowrap justify-content-evenly gap-1 py-1">
                        <a href="#" data-bs-target="#sidebar-left" data-bs-toggle="collapse" onclick="toggleFiltersSidebar()" class="btn btn-secondary rounded-3"><i class="fas fa-filter text-light"></i></a>
                      
                        <a href="#" data-bs-target="#sidebar-right" data-bs-toggle="collapse"  class="btn btn-warning rounded-3"><i class="fas fa-chart-pie text-black-50"></i></a>

                        {% if author %}
                        <a href="{{ url_for('projects') }}" class="btn btn-primary rounded-3"><i class="fas fa-arrow-rotate-left text-light"></i></a>
                        {% endif %}
                      </div>

                  <!-- <div class="col-2 pl-0">
                    <button type="submit" class="btn btn-primary"
                      style="width:100%; height: 35px !important;  border-radius: 0px 4px 4px 0px !important"><i
                        class="fas fa-search"></i></button>
                  </div> -->
                <!-- </div>
              </form>
            </div> -->
          </div>

          <div class="col-3 d-flex flex-row flex-nowrap gap-1">
             <a href="#" data-bs-target="#sidebar-left" data-bs-toggle="collapse" onclick="toggleFiltersSidebar()" class="btn btn-secondary rounded-3"><i class="fas fa-filter text-light"></i></a>
             <a href="#" data-bs-target="#sidebar-right" data-bs-toggle="collapse"  class="btn btn-warning rounded-3"><i class="fas fa-chart-pie text-black-50"></i></a>
             {% if author %}
              <a href="{{ url_for('projects') }}" class="btn btn-primary rounded-3"><i class="fas fa-arrow-rotate-left text-light"></i></a>
              {% endif %}
            <!-- <div class="pagination-bar float-right">
              <paginate
                v-model="page"
                :page-count="Math.ceil(searchResult.pagination.total / searchResult.pagination.per_page)"
                :page-range="3"
                :click-handler="goToPage"
                :prev-text="'Prev'"
                :next-text="'Next'"
                :container-class="'pagination'"
                :page-class="'page-item'"
                :page-link-class="'page-link'"
                :prev-class="'page-item'"
                :next-class="'page-item'"
                :prev-link-class="'page-link'"
                :next-link-class="'page-link'"
                :active-class="'active'">
              </paginate>
            </div> -->

          </div>
        </nav>
        
      </div>

      <!-- <button type="button"
        class="btn-block btn btn-secondary d-block d-sm-block  text-left mt-3"
        data-toggle="modal" data-target="#modal_filter">
        Refine Search<i class="pt-1 float-right fas fa-tasks"></i>
      </button> -->

     

      <div class="projects-page-main-content row d-flex justify-content-center mb-3">


        <!-- <div class="modal" id="modal_filter" tabindex="-1" role="dialog"
          data-backdrop="static">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i
                    class="fas fa-tasks"></i> Refine Search</h5>
                <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div v-for="facet in searchResult.data.aggregations">
                  <h5 style="margin-bottom: 5px;"><strong
                      style="color: #337ab7;">[[ facet.title ]]</strong></h5>
                  <ul class="browse-list list-unstyled long-list"
                    style="margin-bottom: 0;">
                    <li v-for="bucket in facet.buckets">
                      <div class="checkbox block"
                        style="margin-top: 0; margin-bottom: 0;">
                        <label>
                          <input class="checkbox" @click="goToPage(1)"
                            type="checkbox" v-model="filters[facet.name]"
                            v-bind:value="bucket.key">
                          [[ bucket.key ]] ([[ bucket.doc_count ]])
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">Close</button>
              </div>
            </div></div></div> -->

            <div id="sidebar-left"  class="col-3 ml-0 collapse collapse-horizontal vh-100 bg-white">
            </div>
        <div id="sidebar-left-fixed"  class="position-fixed col-3 ml-0 bg-white d-none border-end shadow-sm" style="z-index: 2; padding-top: 5rem; padding-bottom: 5rem; bottom: 0; top: 0; overflow-y:scroll; left: 0;">
            <form>
              <div class="form-group px-0">
                  <select id="author_selector"
                    class="form-control form-control-lg rounded" name="id" required 
                    style="width:100%; height:100%;">
                    <option value></option>
                  </select>
                <!-- <div class="col-2 pl-0">
                  <button type="submit" class="btn btn-primary"
                    style="width:100%; height: 35px !important;  border-radius: 0px 4px 4px 0px !important"><i
                      class="fas fa-search"></i></button>

                </div> -->
              </div>
            </form>
            <div class="d-none d-sm-none d-md-block">
              <div v-for="facet in searchResult.data.aggregations">
                <h5 style="margin-bottom: 5px;"><strong style="color: #337ab7;">[[
                    facet.title ]]</strong></h5>

                <ul class="browse-list list-unstyled long-list"
                  style="margin-bottom: 0;">
                  <li v-for="bucket in facet.buckets">
                    <div class="checkbox block"
                      style="margin-top: 0; margin-bottom: 0;">
                      <label>
                        <input class="checkbox" @click="goToPage(1)"
                          type="checkbox" v-model="filters[facet.name]"
                          v-bind:value="bucket.key">
                        [[ bucket.key ]] ([[ bucket.doc_count ]])
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
        </div>

        <div id="projects-list" class="col-md-6 main-projects-section">
          <!-- <div class="breadcrumbs"></div> -->
          <div class="clearfix"></div>
          <div>
            <div class="proj-item" v-for="item of searchResult.data.items">
              <h3 class="mt-3" style="word-wrap: break-word;">[[ item.title ]]</h3>
              <div class="mb-3 ">
                <p class="d-flex gap-3"><a class=" text-dark fw-light"
                    v-for="(aut, index) in item.authors"
                    v-bind:href="'{{ url_for('projects', id="") }}' + [[getId(index,item.ids)]]">[[
                    aut ]]</a></p>
              </div>
              <div>
                <b>Academic Year:</b> [[ item.year ]]
              </div>
              <div>
                <b>Course:</b> <a v-bind:href="item.courseurl" target="_blank">[[
                  item.course ]] <i class="fas fa-external-link-alt fa-xs"></i></a>
              </div>
              <div class="mt-3 mb-3">
                [[ item.description ]]
              </div>
              <div class="mb-3">
                <div v-if="item.homepage">
                  <a v-bind:href="item.homepage" target="_blank"><i
                      class="fas fa-arrow-alt-circle-right"></i> Project Website
                    <i class="fas fa-external-link-alt fa-xs"></i></a>
                </div>
                <a v-bind:href="item.repository" target="_blank"><i
                    class="fab fa-github"></i> Github<!-- DH.arc--> Repository
                  <i class="fas fa-external-link-alt fa-xs"></i></a>
              </div>

            </div>
          </div>
          <div class="clearfix"></div>

          <div class="pagination-bar float-right mt-5" style="z-index: 1;">
            <paginate
              v-model="page"
              :page-count="Math.ceil(searchResult.pagination.total / searchResult.pagination.per_page)"
              :page-range="3"
              :click-handler="goToPage"
              :prev-text="'Prev'"
              :next-text="'Next'"
              :container-class="'pagination'"
              :page-class="'page-item'"
              :page-link-class="'page-link'"
              :prev-class="'page-item'"
              :next-class="'page-item'"
              :prev-link-class="'page-link'"
              :next-link-class="'page-link'"
              :active-class="'active'"
              >
            </paginate>
          </div>
        </div>

        <!-- <div id="sidebar-right" class="col-3 collapse collapse-horizontal show border-start px-0 position-fixed bg-white vh-100" style="z-index: 2; right: 0; top: 0; padding-top: 5rem;"> -->
          <div id="sidebar-right" class="col-3 collapse collapse-horizontal show px-0">
            <div class="d-flex flex-column justify-content-start align-items-center gap-3  " style="height: 100%; min-height: fit-content;" >

            <!-- <div class="mb-2">
              <canvas id="myBarChart"></canvas>
            </div>

            <div>
              <canvas id="myChart"></canvas>
            </div>

            
            
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked onclick="updateChartAggregations('course')">
              <label class="btn btn-outline-primary" for="btnradio1">Course</label>
              <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" onclick="updateChartAggregations('year')">
              <label class="btn btn-outline-primary" for="btnradio2">Year</label>
            </div> -->





            <div id="carouselExample" class="carousel carousel-dark slide" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="d-flex flex-column justify-content-start align-items-center gap-3">
                    <div>
                      <canvas id="myChart"></canvas>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked onclick="updateChartAggregations('course')">
                      <label class="btn btn-outline-primary" for="btnradio1">Course</label>
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" onclick="updateChartAggregations('year')">
                      <label class="btn btn-outline-primary" for="btnradio2">Year</label>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="mb-2">
                    <canvas id="myBarChart"></canvas>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>




            

          </div>
        </div>

        <div class="clearfix"></div>
      </div>

      

    </div>


    <!-- <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto px-0">
                <div id="sidebar" class="collapse collapse-horizontal show border-end">
                    <div id="sidebar-nav" style="width: 160px;" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
                        <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-bootstrap"></i> <span>Item</span> </a>
                        <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-film"></i> <span>Item</span></a>
                        <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-heart"></i> <span>Item</span></a>
                        <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-bricks"></i> <span>Item</span></a>
                        <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-clock"></i> <span>Item</span></a>
                        <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-archive"></i> <span>Item</span></a>
                        <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-gear"></i> <span>Item</span></a>
                        <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-calendar"></i> <span>Item</span></a>
                        <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-envelope"></i> <span>Item</span></a>
                    </div>
                </div>
            </div>
            <main class="col ps-md-2 pt-2">
                <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1"></i> Menu</a>
                <div class="page-header pt-3">
                    <h2>Bootstrap 5 Sidebar Menu - Simple</h2>
                </div>
                <p class="lead">A offcanvas "push" vertical nav menu example.</p>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <p>This is a simple collapsing sidebar menu for Bootstrap 5. Unlike the Offcanvas component that overlays the content, this sidebar will "push" the content. Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut semiotics, raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation. Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>
                        <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably haven't heard of them, vegan farm-to-table Williamsburg slow-carb readymade disrupt deep v. Meggings seitan Wes Anderson semiotics, cliche American Apparel whatever. Helvetica cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh mi McSweeney's Shoreditch selfies, forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny pack art party Portland.</p>
                    </div>
                </div>
            </main>
        </div>
    </div> -->

  </div>

  <script src="https://unpkg.com/itemsjs@1.0.37/dist/itemsjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="https://unpkg.com/vuejs-paginate@2.1.0/dist/index.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/minisearch@6.1.0/dist/umd/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
  <script>

rows = {{ data | tojson | safe}};
var rowsData = rows
var coursesUnique = []
var yearsUnique = []
function onlyUnique(value, index, array) {
        return array.indexOf(value) === index;
      }

      

search_input = '{{ search | safe }}';
if (search_input === 'None') {
  search_input = null
}


$(document).ready(function() {
  var body = document.body,
    html = document.documentElement;
  var height = Math.max( body.scrollHeight, body.offsetHeight, 
                       html.clientHeight, html.scrollHeight, html.offsetHeight );

  $(window).scroll(function(){
      $('.reverse').removeClass('d-none')
      $('.reverse').css('transform', 'translate3d(0,' + (Math.min(0, -100 + $(this).scrollTop()*2)) + 'px, 0)'); 
      

      // console.log(Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - $(this).scrollTop())

      
      // $('#sidebar-left-fixed').css('bottom', ''+(Math.min(0, -100 + $(this).scrollTop()*2))+'px')

      if (Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - $(this).scrollTop() - 10 <= window.innerHeight) {
        
        $('#sidebar-left-fixed').css('bottom', '5rem')
      } else {
        $('#sidebar-left-fixed').css('bottom', '0')
      }

      
      // if (($(this).scrollTop() > 0) && $(this).scrollTop() < height) { 
      //   $('.charts-container').addClass('fixed')
      // } else {
      // }
    }).scroll();



  if ((search_input !== null) && (search_input !== NaN) && (search_input !== 'None')  && (search_input !== '')) {
    document.getElementById("search-input").value = search_input
  }

  var author_select_dta = {{ autdata | tojson | safe}};

  $('#author_selector').select2({
      data: author_select_dta,
      placeholder: "Select an Author",
      allowClear: true,
      templateResult: formatAut
  });

  function formatAut (aut) {
    if (!aut.id) {
      return aut.text;
    }
    var $aut = $(
      '<span>' + aut.text + ' </span> <span class="text-secondary pl-3 d-none d-md-inline"> ' + aut.id + '</span>'
    );
    return $aut;
  };

  $('#author_selector').on('select2:select', function (e) {
    $(this).parents('form').submit();
  });

});


function toggleFiltersSidebar() {

  
  
  $('#sidebar-left').removeClass('d-none')

  if ($('#sidebar-right').hasClass('show') == false) {
    $('#sidebar-left').addClass('d-none')
  }



  $('#sidebar-left-fixed').removeClass('d-none')
  $('#sidebar-left-fixed').toggleClass('shown')

  if ($('#sidebar-left-fixed').hasClass('shown')) {
    $('#sidebar-left-fixed').removeClass('hidden')
  } else {
    $('#sidebar-left-fixed').addClass('hidden')
  }
}



// function toggleFilterButton() {
  

  
//   $('.projects-page-main-content').toggleClass('justify-content-center')
//   $('.projects-page-main-content').toggleClass('justify-content-start')

//   if ($('.main-projects-section').hasClass('col-md-6')) {
//     $('.main-projects-section').removeClass('col-md-6')
//     $('.main-projects-section').addClass('col-md-7')
//   }else if ($('.main-projects-section').hasClass('col-md-7') && $('.projects-page-main-content').hasClass('justify-content-start')) {
//     $('.main-projects-section').removeClass('col-md-7')
//     $('.main-projects-section').addClass('col-md-6')
//   }else if ($('.main-projects-section').hasClass('col-md-7') && $('.projects-page-main-content').hasClass('justify-content-center')) {
//     $('.main-projects-section').removeClass('col-md-7')
//     $('.main-projects-section').addClass('col-md-7')
//   }

// }


// function toggleChartButton() {

//   if ($('.main-projects-section').hasClass('col-md-6')) {
//     $('.main-projects-section').removeClass('col-md-6')
//     $('.main-projects-section').addClass('col-md-7')
//   } else if ($('.main-projects-section').hasClass('col-md-7') && $('.projects-page-main-content').hasClass('justify-content-start')) {
//     $('.main-projects-section').removeClass('col-md-7')
//     $('.main-projects-section').addClass('col-md-6')
//   } else if ($('.main-projects-section').hasClass('col-md-7') && $('.projects-page-main-content').hasClass('justify-content-center')) {
//     $('.main-projects-section').removeClass('col-md-7')
//     $('.main-projects-section').addClass('col-md-7')
//   }

// }



rows = rows.sort((x, y) => x.title > y.title)
for (let i = 0; i < rows.length; i++) {
  rows[i].id = i+1 ;
}
let miniSearch = new MiniSearch({
  fields: ['title', 'description', 'authors']
})

miniSearch.addAll(rows);

var configuration = {
  // searchableFields: ['title', 'description', 'authors'],
  // sortings: { name_asc: {field: 'title', order: 'asc'}},
  native_search_enabled: false,
  custom_id_field: 'id',
  aggregations: {
    year: {
      title: 'Academic Year',
      size: 10,
      conjunction: false
    },
    course: {
      title: 'Course',
      size: 10,
      conjunction: false
    },
  }
}

itemsjs = itemsjs(rows, configuration);
var searchResultData = []




// add vue component for pagination
Vue.component('paginate', VuejsPaginate)

var vm = new Vue({
 el: '#el',
 delimiters: ['[[', ']]'],
 data: function () {

   // making it more generic
   var filters = {};
   Object.keys(configuration.aggregations).map(function(v) {
     filters[v] = [];
   })
   
   // adding pagination variables
   var page = this.page || 1;
   var per_page = this.per_page || 6;

   return {
     query: search_input,
     // initializing filters with empty arrays
     filters: filters,
     // setting pagination variables
     page: page,
     per_page: per_page,
   }
 },
 methods: {
    getId: function (index, array) {
      return array[index]
    },
   reset: function () {
     var filters = {};
     Object.keys(configuration.aggregations).map(function(v) {
       filters[v] = [];
     })

     this.filters = filters;
     this.page = 1;
     this.query = '';
   },
   goToPage: function (page) {
     this.page = page;
     return page;
   },
 },
 watch: {
     query: function () {
      this.page = 1;
    },
    
 },
 computed: {
   searchResult: function () {
    var search_results = []


    // TODO: revisit this function
    if (this.query && this.query.length) {
      search_results = miniSearch.search(this.query, {prefix: true, boost: { title: 5 }, fuzzy: 0.2})
      rowsUpdated = rows.filter(v => search_results.map(v => v.id).includes(v.id));
      rowsUpdated = rowsUpdated.sort((x,y) => search_results.map(v => v.id).indexOf(x.id) > search_results.map(v => v.id).indexOf(y.id))
      itemsjs.reindex(rowsUpdated)
      rowsData = rowsUpdated
      
    } else {
      itemsjs.reindex(rows)
      rowsData = rows
    }

    coursesUnique = rowsData.map(v => v.course).filter(onlyUnique)
    yearsUnique = rowsData.map(v => v.year).filter(onlyUnique)
    console.log(rowsData)
    console.log(coursesUnique)
    console.log(yearsUnique)
     var result = itemsjs.search({
       ids: search_results.map(v => v.id),
       page: this.page,
       per_page: 6,
       filters: this.filters
     })
    searchResultData = itemsjs.search({
       ids: search_results.map(v => v.id),
       filters: this.filters
     })     
     console.log('searchresults',searchResultData)
     return result
   }
 }
});


const ctx = document.getElementById('myChart');
      var chart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: searchResultData.data.aggregations.course.buckets.map(v => v.key),
          datasets: [{
            label: 'Number of projects',
            data: searchResultData.data.aggregations.course.buckets/*.filter(v => searchResultData.data.items.map(e => e.course).includes(v.key))*/.map(v => v.doc_count),
            hoverOffset: 4
          }]
        },
        options: {
          plugins: {
            legend: {
              display: false
            }
          },
          radius: '80%'
        }
      });

      var chartAggregation = 'course'

      function updateChartAggregations(aggregationName) {
        if (aggregationName === 'course') {
          chartAggregation = 'course'
        } else if (aggregationName === 'year') {
          chartAggregation = 'year'
        }
      }

      function updateChartData() {
        setTimeout(function() {

          chart.data.labels = searchResultData.data.aggregations[chartAggregation].buckets.map(v => v.key);
          chart.data.datasets.forEach((dataset) => {
              dataset.data = searchResultData.data.aggregations[chartAggregation].buckets/*.filter(v => searchResultData.data.items.map(e => e[chartAggregation]).includes(v.key))*/.map(v => v.doc_count)
          });

          chart.update()
        console.log(searchResultData)
        }, 10);
      }

      
   



      

      const ctl = document.getElementById('myBarChart');
      
      ds = []
      counter = 0
      for (course of coursesUnique) {

        courseData = []
        for (year of yearsUnique) {
          courseCountInYear = 0
          
          for (row of rowsData) {
            if (
              (row.course == course) && (row.year == year)
            ) {
              courseCountInYear += 1
              counter += 1
            }
          }

          courseData.push(courseCountInYear)
        }

        ds.push(
          {
            label: course,
            
            data: courseData
          }
        )
      }



      var barChart = new Chart(ctl, {
        type: 'bar',
        data: {
      labels: searchResultData.data.aggregations.year.buckets.map(v => v.key), 
      datasets: ds
      },
            options: {
              plugins: {
                legend: {
                  display: false
                }
              },
              animation: false,
              scales: {
                x: {
                    stacked: true
                },
                y: {
                    stacked: true
                }
            }
            }
      });

      function debounce(func, timeout = 100){
        let timer;
        return (...args) => {
          clearTimeout(timer);
          timer = setTimeout(() => { func.apply(this, args); }, timeout);
        };
      }
      const processChange = debounce(() => {updateChartData()});

      $(document).click(function() {
        processChange()
      });



     </script>
    <script>
      // const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      //             const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    <style>
      .custom-tooltip {
          --bs-tooltip-bg: var(--bs-dark);
          --bs-tooltip-color: var(--bs-white);
      }
    </style>

    <style>
        .reverse {
          transform: translateY(-4rem);
          transform: translateZ(-1rem);
        }
        .fixed {
          position: fixed;
        }
        .active {
          z-index: 1 ;
        }
        #sidebar-left-fixed {
          transform: translateX(-100%);
        }
        #sidebar-left-fixed.shown {
          transform: translateX(0);
          transition-duration: 0.1s;
          transition-timing-function: linear;
        }
        #sidebar-left-fixed.hidden {
          transform: translateX(-100%);
          transition-duration: 0.1s;
          transition-timing-function: linear;
        }


        @media only screen and (min-width : 480px) {
          
        }

        /* Small Devices, Tablets */
        @media only screen and (min-width : 768px) {

        }

        /* Medium Devices, Desktops */
        @media only screen and (min-width : 992px) {
          #sidebar-right {
            border-left: 1px solid rgba(0,0,0,0.2);
          }
        }

        /* Large Devices, Wide Screens */
        @media only screen and (min-width : 1200px) {

        }
    </style>

  {% endblock %}
