{% extends "base.html" %}

{% block content %}
  <div class="container">

{% if author %}
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item {% if not author %} active  {% endif %}"><a href="{{ url_for('projects') }}">Projects</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ name }}</li>
          </ol>
 {% endif %} 

        
    <div id="el" v-cloak style="margin-top: 30px;">
    <div class="row mt-5">
        <div class="col-md-6">
          {% if author %} 
          <h2>{{ name }}</h2> 
          <h5><a href="mailto:{{ mail }}"><i class="far fa-envelope fa-sm"></i> {{ mail }}</a></h5>
            {% else %}
                        <form>
                                <div class="form-group row">
                                        <div class="col-10 pr-0">
                                <select id="author_selector" class="form-control form-control-lg" name="id" required style="width:100%; height:100%">
                                        <option value=""></option>
                                </select>
                            </div>
                            <div class="col-2 pl-0">
                                    <button type="submit" class="btn btn-primary" style="width:100%; height: 35px !important;  border-radius: 0px 4px 4px 0px !important"><i class="fas fa-search"></i></button>

                            </div>
                        </div>
                        </form>
              {% endif %}
            </div>
              <div class="col-md-6">    </div>
    </div>

           <button type="button" class="btn-block btn btn-secondary d-block d-sm-block d-md-none text-left mt-3"  data-toggle="modal" data-target="#modal_filter">
               <i class="fas fa-tasks"></i> <span>Refine Search</span>
                 </button>
                 
         <div class="row" style="margin-top: 20px;">
             <div class="col-6">
               <h5>[[ searchResult.pagination.total ]] Item<span v-if="searchResult.pagination.total != 1">s</span> Found</h5>
             </div>
         
             <div class="col-6">
         <!-- div for pagination block -->
               <div class="pagination-bar  float-right">
                 <paginate
                            v-model="page"
                           :page-count="Math.ceil(searchResult.pagination.total / searchResult.pagination.per_page)"
                           :page-range="3"
                           :click-handler="goToPage"
                           :prev-text="'Prev'"
                           :next-text="'Next'"
                           :container-class="'pagination'"
                           :page-class="'page-item'"
                           :page-link-class="'page-link'"
                           :prev-class="'page-item'"
                           :next-class="'page-item'"
                           :prev-link-class="'page-link'"
                           :next-link-class="'page-link'"
                           :active-class="'active'">
                 </paginate>
               </div>
             </div>
         </div>
     
         <div class="row">
             <div class="modal" id="modal_filter" tabindex="-1" role="dialog" data-backdrop="static">
                 <div class="modal-dialog" role="document">
                     <div class="modal-content">
                       <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-tasks"></i> Refine Search</h5>
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                         </button>
                       </div>
                         <div class="modal-body">
                   <div v-for="facet in searchResult.data.aggregations">
                     <h5 style="margin-bottom: 5px;"><strong style="color: #337ab7;">[[ facet.title ]]</strong></h5>
           
                     <ul class="browse-list list-unstyled long-list" style="margin-bottom: 0;">
                       <li v-for="bucket in facet.buckets">
                       <div class="checkbox block" style="margin-top: 0; margin-bottom: 0;">
                         <label>
                           <input class="checkbox" type="checkbox" v-model="filters[facet.name]" v-bind:value="bucket.key">
                           [[ bucket.key ]] ([[ bucket.doc_count ]]) 
                 </label>
               </div>
               </li>
             </ul>
           </div>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           </div>
       </div></div></div>



           <div class="col-3">
           <div class="d-none d-sm-none d-md-block">
           <div v-for="facet in searchResult.data.aggregations">
               <h5 style="margin-bottom: 5px;"><strong style="color: #337ab7;">[[ facet.title ]]</strong></h5>
     
               <ul class="browse-list list-unstyled long-list" style="margin-bottom: 0;">
                 <li v-for="bucket in facet.buckets">
                 <div class="checkbox block" style="margin-top: 0; margin-bottom: 0;">
                   <label>
                     <input class="checkbox" @click="goToPage(1)" type="checkbox" v-model="filters[facet.name]" v-bind:value="bucket.key">
                     [[ bucket.key ]] ([[ bucket.doc_count ]]) 
                   </label>
                 </div>
                 </li>
               </ul>
             </div>
           
           
           </div>

           </div>
     
           <div class="col-md-9">
             <div class="breadcrumbs"></div>
             <div class="clearfix"></div>
             <div>
               <div class="proj-item" v-for="item of searchResult.data.items">
                   <h3 class="mt-3" style="word-wrap: break-word;">[[ item.title ]]</h3>
                   <div class="mb-3">
                    <h5><a class="badge badge-info mr-2 mt-2" v-for="(aut, index) in item.authors" v-bind:href= "'{{ url_for('projects', id="") }}' + [[getId(index,item.ids)]]">[[ aut ]]</a></h5>
                   </div>
                   <div>
                    <b>Academic Year:</b> [[ item.year ]]
                  </div>
                   <div>
                     <b>Course:</b>  <a v-bind:href="item.courseurl" target="_blank">[[ item.course ]] <i class="fas fa-external-link-alt fa-xs"></i></a>
                   </div>
                   <div class="mt-3 mb-3">
                    [[ item.description ]]
                   </div>
                   <div class="mb-3">
                     <div   v-if="item.homepage">
                    <a v-bind:href="item.homepage" target="_blank"><i class="fas fa-arrow-alt-circle-right"></i> [[ item.homepage ]] <i class="fas fa-external-link-alt fa-xs"></i></a>
                     </div>
                    <a v-bind:href="item.repository" target="_blank"><i class="fab fa-github"></i> Github<!-- DH.arc--> Repository <i class="fas fa-external-link-alt fa-xs"></i></a>
                   </div>

                  </div>
                </div>
             <div class="clearfix"></div>
           </div>
     
           <div class="clearfix" style="margin-bottom: 100px;"></div>
         </div>
     </div>
    </div>


     <script src="https://unpkg.com/itemsjs@1.0.37/dist/itemsjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/vuejs-paginate@2.1.0/dist/index.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    
    <script>

rows = {{ data | tojson | safe}};
$(document).ready(function() {
    var author_select_dta = {{ autdata | tojson | safe}};

    $('#author_selector').select2({
        data:author_select_dta,
    placeholder: "Select an Author",
    allowClear: true,
    templateResult: formatAut
});

  function formatAut (aut) {
    if (!aut.id) {
      return aut.text;
    }
    var $aut = $(
      '<span>' + aut.text + ' </span> <span class="text-secondary pl-3 d-none d-md-inline"> ' + aut.id + '</span>'
    );
    return $aut;
  };

  $('#author_selector').on('select2:select', function (e) {
    $(this).parents('form').submit();
  });

});



 var configuration = {
 sortings: { name_asc: {field: 'title', order: 'asc'}},
 aggregations: {
   year: {
     title: 'Academic Year',
     size: 10
   },
   course: {
     title: 'Course',
     size: 10
   },
 }
}


itemsjs = itemsjs(rows, configuration);
// add vue component for pagination
Vue.component('paginate', VuejsPaginate)

var vm = new Vue({
 el: '#el',
 delimiters: ['[[', ']]'],
 data: function () {

   // making it more generic
   var filters = {};
   Object.keys(configuration.aggregations).map(function(v) {
     filters[v] = [];
   })
   
   // adding pagination variables
   var page = this.page || 1;
   var per_page = this.per_page || 6;

   return {
     query: '',
     // initializing filters with empty arrays
     filters: filters,
     // setting pagination variables
     page: page,
     per_page: per_page,
   }
 },
 methods: {
    getId: function (index, array) {
      return array[index]
    },
   reset: function () {
     var filters = {};
     Object.keys(configuration.aggregations).map(function(v) {
       filters[v] = [];
     })

     this.filters = filters;
     this.page = 1;
     this.query = '';
   },
   goToPage: function (page) {
     this.page = page;
     return page;
   },
 },
 watch: {
     query: function () {
      this.page = 1;
    }
 },
 computed: {
   searchResult: function () {

     var result = itemsjs.search({
       query: this.query,
       page: this.page,
       per_page: 6,
       filters: this.filters
     })
     return result
   }
 }
});

     </script>

{% endblock %}

